{% extends "../_base.html" %}

{% block head %}

{% end %}

{% block content %}
<div class="row">
    <div id="posts" class="list-group col-md-5 col-md-offset-2">
        <div id="new">
            <legend>新广播</legend>
            <form class="form-horizontal" role="form" id="new-post" v-on:submit.prevent="ignore">
                <div class="form-group">
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" id="content" v-model="content"></textarea>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-info" style="width:100%;" @click="post">发布</button>
                    </div>
                </div>
            </form>
        </div>
        <hr/>
        <div id="old">
            <legend>最近的广播</legend>
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>内容</th>
                    <th>管理员</th>
                    <th>发布日期</th>
                </tr>
                <tr v-for="(index, item) in announcements">
                    <td>${ index + 1 }</td>
                    <td>${ item.content }</td>
                    <td>${ item.author }</td>
                    <td>${ item.date }</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% end %}

{% block script %}
<script type="text/javascript">
    var olds = new Vue({
        el: '#old',
        data: {
            announcements: [],
        },
    })

    function getANNS() {
        getJSON('/api/notifications/announcement', {}, function(response) {
            if (response.status == 1) {
                olds.announcements = response.announcements
            } else {
                console.log('GET ANNOUNCEMENTS ERROR: ', response.code, response.reason)
            }
        })
    }
    getANNS()

    var news = new Vue({
        el: '#new',
        data: {
            content: '',
        },
        methods: {
            ignore: function(){},
            post: function() {
                var self = this
                if (self.content === "") {
                    vAlert.warning('广播内容不能为空！')
                    return
                }
                var data = {
                    'token': getCookieByName('token'),
                    'content': self.content,
                }
                postJSON('/api/notifications/announcement', data, function(response) {
                    if (response.status == 1) {
                        self.content = ""
                        getANNS()
                    } else {
                        console.log('CREATE NEW ANNOUNCEMENTS ERROR:', response.code, response.reason)
                    }
                })
            },
        }
    })
</script>
{% end %}
