<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}2L, BBS, FORUM{% end %}"/>
	<meta name="description" content="{% if description %}{{ description }}{% else %}2L by Damnever{% end %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{% if title %}{{ title }} &laquo; 2L{% else %}2L{% end %}</title>
	<link rel="icon" href="{{ static_url("favicon.ico") }}"/>
    <link rel="shortcut icon" href="{{ static_url("favicon.ico") }}"/>
    <link rel="Bookmark" href="{{ static_url("favicon.ico") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap.min.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/base.css") }}"/>
    {% block head %}{% end %}
    <!--script type="text/javascript" src="{{ static_url("js/jquery-2.1.4.min.js") }}"></script-->
    <script type="text/javascript" src="{{ static_url("js/jquery-2.1.4.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/marked.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/vue.min.js") }}"></script>
    <script type="text/javascript">
    	Vue.config.delimiters = ['${', '}']
    	Vue.config.unsafeDelimiters = ['{!!', '!!}']
    	Vue.config.debug = true
	</script>
    <script type="text/javascript" src="{{ static_url("js/vue-strap.min.js") }}"></script>
</head>
<body>
	{% block nav %}
	<nav id="nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="row col-md-10 col-md-offset-1">
			<div class="navbar-header">
		        <a href="/"><img alt="Brand" src="{{ static_url("imgs/icon-32x32.png") }}" style="margin-top:8px;margin-right:20px"></a>
		    </div>
			<span></span>
			<ul class="nav navbar-nav navbar-left">
				<li class="for-nav" :class="{'active': newest}"><a href="/">最新</a></li>
				<li class="for-nav" :class="{'active': hot}"><a href="/hot">最热</a></li>
				<li class="for-nav" :class="{'active': topics}"><a href="/topics">主题</a></li>
                <li class="for-nav" :class="{'active': proposal}"><a href="/proposal">我要</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" style="padding-top:14px;">
				<span id="user-area" v-if="currentUser">
					<li id="user-msg" class="for-nav">
   						<a href="/notifications/${ currentUser }">消息 <span class="badge"></span></a>
   					</li>
					<li id="user-info" class="for-nav" style="margin-left:10px;">
                        <dropdown>
       						<a class="username" href="javascript:;" data-toggle="dropdown">${ currentUser } <span class="caret"></span></a>
                            <ul name="dropdown-menu" class="dropdown-menu">
                                <li><a href="/user/${ currentUser }">个人信息</a></li>
                                <li><a href="javascript:;" @click="logout">退出</a></li>
                            </ul>
                        </dropdown>
   					</li>
				</span>
                <span id="auth-area" v-else>
                    <login-component
                     :current-user.sync="currentUser">
                    </login-component>
                    <register-component
                     :current-user.sync="currentUser">
                    </register-component>
				</span>
			</ul>
			</div>
		</div>
	</nav>
	{% end %}
    <div id="container">
        <div id="content">
    	    <div class="container-fluid">
                {% block content %}{% end %}
                {% module xsrf_form_html() %}
            </div>
        </div>
    </div>
    <div id="msg-alert">
        <alert
            :show.sync="showDanger"
            :duration="3000"
            type="danger"
            width="400px"
            placement="top-right"
            style="margin-top: 30px;"
            dismissable>
            <span class="icon-cancel-circled alert-icon-float-left"></span>
            <strong>DANGER</strong>
            <p>${ msg }</p>
        </alert>
        <alert
            :show.sync="showWarning"
            :duration="3000"
            type="warning"
            width="400px"
            placement="top-right"
            style="margin-top: 30px;"
            dismissable>
            <span class="icon-attention-circled alert-icon-float-left"></span>
            <strong>WARNING</strong>
            <p>${ msg }</p>
        </alert>
        <alert
            :show.sync="showInfo"
            :duration="3000"
            type="info"
            width="400px"
            placement="top-right"
            style="margin-top: 30px;"
            dismissable>
            <span class="icon-info-circled alert-icon-float-left"></span>
            <strong>INFO</strong>
            <p>${ msg }</p>
        </alert>
        <alert
            :show.sync="showSuccess"
            :duration="3000"
            type="success"
            width="400px"
            placement="top-right"
            style="margin-top: 30px;"
            dismissable>
            <span class="icon-ok-circled alert-icon-float-left"></span>
            <strong>SUCCESS</strong>
            <p>${ msg }</p>
        </alert>
    </div>
    <div id="footer">
        {% include "footer.html" %}
    </div>
</body>
<script type="text/javascript" src="{{ static_url("js/base.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/auth.js") }}"></script>
<script type="text/javascript">
    new Vue({
    	el: '#nav',
    	data: {
            currentUser: "{% if current_user %}{{ current_user }}{% end %}",
    		url: window.location.href.toString().split(window.location.host)[1],
    	},
    	computed: {
    		newest: function() {
    			if (this.url === '/') {
    				return true
    			}
    			return false
    		},
    		hot: function() {
    			if (this.url === '/hot') {
    				return true
    			}
    			return false
    		},
    		topics: function() {
    			if (this.url === '/topics') {
    				return true
    			}
    			return false
    		},
            proposal: function() {
                if (this.url === '/proposal') {
                    return true
                }
            }
    	},
        methods: {
            logout: function() {
                var self = this
                postJSON('/api/logout', {'token': getCookieByName('token')}, function(response) {
                    if (response.status === 1) {
                        console.log('LOGOUT SUCCESS')
                        self.currentUser = ""
                    } else {
                        console.log('LOGOUT ERROR:', response.code, response.reason)
                    }
                })
            }
        },
        components: {
            'dropdown': VueStrap.dropdown,
            'modal': VueStrap.modal,
        }
    })

    /***** clear border when the link clicked *****/
    $(document).ready(function() {
        $("a,button").bind("focus",function() {
            if(this.blur) {this.blur()}
        })
    })
</script>
{% block script %}{% end %}
</html>