{% extends "_base.html" %}

{% block head %}

{% end %}

{% block content %}
<div class="row">
	<ul id="posts" class="list-group col-md-5 col-md-offset-2">
		<post-component :tag="tag" v-for="item in items"
		 :post-id="item.id"
		 :post-title="item.title"
		 :post-date="item.created_date"
		 :topic-id="item.topic_id"
		 :topic-name="item.topic_name"
		 :author-avatar="item.author_avatar"
		 :author-name="item.author_name"
		 :last-comment-name="item.last_comment_user"
		 :last-comment-date="item.last_comment_date"
		 :comment-count="item.comment_count">
		</post-component>
	</ul>
	<div id="right" class="col-md-3" style="background-color: #fff;padding:0 0 0 24px;">
		<div id="announcement">
			<accordion :one-at-atime="true">
			    <panel header="公告 #1" :is-open="true">
			    {!! one | toHTML !!}
			    </panel>
			    <panel header="公告 #2">
			    {!! two | toHTML !!}
			    </panel>
			    <panel header="公告 #3">
			    {!! three | toHTML !!}
			    </panel>
			    <panel header="公告 #4">
			    {!! four | toHTML !!}
			    </panel>
			</accordion>
		</div>
		<div id="subscribed-topics">
			<div class="panel panel-default">
			    <div class="panel-heading">${ title }</div>
			    <div class="panel-body" style="padding:0;">
			    	<ul class="list-group col-md-6">
					    <li class="list-group-item" v-for="item in leftItems">
					    	<img src="${ item.avatar }" class="thumbnail" alt="${ item.name }" width="20" height="20">
					    	<a href="/topic/${ item.id }">${ item.name }</a>
					    </li>
					</ul>
					<ul class="list-group col-md-6">
					    <li class="list-group-item" v-for="item in rightItems">
					    	<img src="${ item.avatar }" class="thumbnail" alt="${ item.name }" width="20" height="20">
					    	<a href="/topic/${ item.id }">${ item.name }</a>
					    </li>
					</ul>
			    </div>
			</div>
		</div>
	</div>
</div>
{% end %}

{% block script %}
<script type="text/javascript">
    
	var pList = new Vue({
		el: '#posts',
		data: {
			tag: true,
			total: 0,
			items: [],
			pages: 0,
			page: 0,
			has_prev: false,
			has_next: false,
		},
	})

	getJSON('/api/posts/all', undefined, function(response) {
		if (response.status == 1) {
			pList.total = response.total
			pList.items = response.posts
			pList.pages = response.pages
			pList.page = response.page
			pList.has_prev = response.has_prev
			pList.has_next = response.has_next
		} else {
			console.log('GET ALL POSTS ERROR: ', response.code, response.reason)
		}
	})

	///////////////////////////////////////////////////////////////////////////
	new Vue({
		el: '#announcement',
		data: {
			one: '## Move your big ass.',
			two: 'Eat your dog food.',
			three: 'Lie on your cold bed.',
			four: 'You are a pile of shit.',
		},
	    components: {
	        accordion: VueStrap.accordion,
	        panel: VueStrap.panel
	    }
	})

	///////////////////////////////////////////////////////////////////////////
	var tList = new Vue({
		el: '#subscribed-topics',
		data: {
			title: '订阅的主题',
			leftItems: [],
			rightItems: [],
		},
	})
	getJSON('/api/subscribed/topics', {'token': getCookieByName('token')}, function(response) {
		var next = false
		if (response.status == 1 && response.total != 0) {
			var mid = response.total / 2
			tList.leftItems = response.topics.slice(0, mid)
			tList.rightItems = response.topics.slice(mid)
		} else {
			next = true
			console.log("GET SUBSCRIBED TOPICS ERROR: ", response.code, " ", response.reason)
		}
		if (next) {
			getJSON('/api/topics', undefined, function(response) {
				tList.title = '推荐的主题'
				if (response.status == 1 && response.total != 0) {
					var mid = response.total / 2
					tList.leftItems = response.topics.slice(0, mid)
					tList.rightItems = response.topics.slice(mid)
				} else {
					console.log("GET ALL TOPICS ERROR: ", response.code, " ", response.reason)
				}
			})
		}
	})
</script>
{% end %}