{% extends "_base.html" %}

{% block head %}
{% end %}

{% block content %}
<div class="row">
	<div class="list-group col-md-5 col-md-offset-2">
		<blockquote>
			<p>正文支持 <a href="" target="_blank">Markdown</a> 语法，发贴会扣除相应的金币，内容一经发布就不可修改，发帖前务必过一遍 <abbr title="WHO, WHEN, WHERE, WHAT, WHY">5W</abbr> + <abbr title="HOW">1H</abbr>，不提倡恶意诽谤诋毁他人，不提倡发布违法乱纪的内容。</p>
		</blockquote>
		<form class="form-horizontal" role="form" id="new-post" v-on:submit.prevent="ignore">
			<input type="hidden" name="id" value="{{ topic_id }}" v-model="topicId">
		    <div class="form-group">
		        <label for="title" class="col-sm-2 control-label">标&emsp;题</label>
		        <div class="col-sm-10">
		            <input type="text" class="form-control" id="title" placeholder="标题也是一门艺术" v-model="title">
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="content" class="col-sm-2 control-label">正&emsp;文</label>
		        <div class="col-sm-10">
		            <textarea class="form-control" rows="12" id="content" v-model="content"></textarea>
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="keywords" class="col-sm-2 control-label">关键词</label>
		        <div class="col-sm-10">
		            <input type="text" class="form-control" id="keywords" placeholder="关键词之间用英文逗号分割" v-model="keywords">
		        </div>
		    </div>
		    <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			        <div class="checkbox">
			            <label>
			                <input type="checkbox" v-model="keepSilent"> 禁止评论
			            </label>
			        </div>
			    </div>
			</div>
		    <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-5">
			      <button class="btn btn-default" style="width:100%;" @click="post">发布到{{ title }}</button>
			    </div>
			    <div class="col-sm-5">
			      	<button class="btn btn-default" style="width:100%;" @click="save">保存为草稿</button>
			    </div>
			</div>
		</form>
	</div>
	<div class="">
		<div id="topic-info" class="col-md-3" style="background-color: #fff;padding:0 0 0 24px;">
			<topic-component
			 :id="id"
			 :name="name"
			 :admin="admin"
			 :avatar="avatar"
			 :description="description"
			 :rules="rules"
			 :b-post="bPost">
			</topic-component>
		</div>
	</div>
</div>
{% end %}

{% block script %}
<script type="text/javascript">
	new Vue({
		el: '#topic-info',
		data: {
			id: {{ topic_id }},
			name: "{{ title }}",
			avatar: "{{ avatar }}",
			admin: "{{ admin }}",
			description: "{{ description }}",
			rules: "{{ rules }}",
			bPost: false,
		}
	})

	new Vue({
		el: '#new-post',
		data: {
			topicId: -1,
			title: '',
			content: '',
			keywords: '',
			keepSilent: false,
		},
		methods: {
			ignore: function() {
			},
			post: function() {
				if (!this.check()) {
					return false
				}
				data = {
					'token': getCookieByName('token'),
					'title': this.title,
					'content': this.content,
					'keywords': this.keywords,
					'keep_silent': this.keepSilent ? 1 : 0,
					'is_draft': 0,
				}
				postJSON(this.url(), data, this.handleResp)
			},
			save: function() {
				if (!this.check()) {
					return
				}
				data = {
					'token': getCookieByName('token'),
					'title': this.title,
					'content': this.content,
					'keywords': this.keywords,
					'keep_silent': this.keepSilent ? 1 : 0,
					'is_draft': 1,
				}
				postJSON(this.url(), data, this.handleResp)
			},
			handleResp: function(response) {
				if (response.status === 1) {
					vAlert.success("操作成功！")
				} else if (response.code === 403) {
					vAlert.danger("权限不足，请登录或获取该权限后尝试发帖！")
				} else {
					vAlert.danger(response.code.toString() + response.reason)
				}
			},
			check: function() {
				if (this.title.length === 0) {
					vAlert.warning("标题不能为空")
					return false
				}
				if (this.keywords.length === 0) {
					vAlert.warning("至少填写一个关键词")
					return false
				}
				return true
			},
			url: function() {
				return ('/api/posts/topic/' + this.topicId)
			}
		}
	})
</script>
{% end %}