{% extends "_base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static_url("css/github-markdown.min.css") }}"/>
<style type="text/css">
	#post-info {
		height: 70px;
		border-bottom: 1px solid #e3e3e3;
		padding: 10px 5px 10px 5px;
	}
	.info-left {
		float: left;
	}
	.comment-up-votes,
	.comment-down-votes,
	.post-up-votes,
	.post-down-votes {
		color: #444444;
		margin-right: 3px;
	}
	.comment-up-votes:hover,
	.comment-down-votes:hover,
	.post-up-votes:hover,
	.post-down-votes:hover {
		color: #111111;
		text-decoration: none;
	}
	.post-author:hover,
	.comment-user:hover {
		color: #111111;
	}
	.post-date,
	.comment-date {
		color: #888888;
		font-size: 13px;
	}
	.post-author {
		margin-left: 5px;
		margin-right: 5px;
	}
	.post-author,
	.comment-user {
		color: #333333;
		font-size: bold;
	}
	.info-right {
		float: right;
	}
	.markdown-body {
		color: #333333;
		font-size: 14px;
		padding: 5px 5px 8px 5px;
		border-bottom: 1px solid #e5e5e5;
	}
	.markdown-body .highlight pre,
	.markdown-body pre {
		background-color: rgba(230, 230, 230, 0.3);
	}
	.markdown-body img {
		max-height: 200px;
	}
	pre {
		border: 1px solid #fafafa;
	}
	.comment-vote {
		float: left;
	}
	.comment-info {
		margin-left: 20px;
	}
	.comment-content {
		margin-top: 3px;
		color: #333333;
		font-size: 14px;
	}
	.comment-reply {
		color: #555555;
		font-size: 13px;
	}
	.comment-reply:hover {
		color: #333333;
	}
	#comments .list-group-item {
		padding: 10px 5px 10px 5px;
	}
	.comment-submit {

	}
	.comment-submit button {
	}
	.comment-submit .comment-tip {
		margin-top: 15px;
		color: #555555;
		font-size: 12px;
		float: right;
	}
</style>
{% end %}

{% block content %}
<div class="row">
	<div class="col-md-5 col-md-offset-2">
		<div id="post-info">
			<div class="info-left">
				<a class="post-title" href="/post/{{ post_id }}">{{ title }}</a>
				<div style="margin-top:5px;">
					<a class="post-up-votes" href="javascript:;"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ up_votes }}</a>
					<a class="post-down-votes" href="javascript:;"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> {{ down_votes }}</a>
					<a class="post-author" href="/user/{{ author }}">{{ author }}</a>
					<span class="post-date">发布于 {{ date }}</span>
				</div>
			</div>
			<div class="info-right">
				<img src="{{ avatar }}" class="thumbnail" alt="{{ author }}" width="50" height="50">
			</div>
		</div>
		<div class="clearfix"></div>
		<article id="post-content" class="markdown-body"></article>
		<ul id="comments" class="list-group">
			<comment-component :tag="tag" :at-users.sync="atUsers"
			 v-for="item in items"
			 :comment-id="item.id"
			 :comment-user="item.author"
			 :comment-date="item.date"
			 :comment-content="item.content">
			</comment-component>
			<div id="comment" style="margin-top:10px;">
				<textarea id="comment-area" class="form-control" rows="3" v-model="content">${ atUsers.join(" ") + " " }</textarea>
				<div class="comment-submit">
					<button class="btn btn-default btn-sm" style="margin-top:5px;" @click="comment">评&ensp;论</button>
					<span class="comment-tip">回答会扣除一定的金币哦！</span>
				</label>
			</div>
		</ul>
	</div>
	<div id="topic-info" class="col-md-3" style="background-color: #fff;padding:0 0 0 24px;">
		<topic-component
		 :id="id"
		 :name="topic.name"
		 :admin="topic.administer"
		 :avatar="topic.avatar"
		 :description="topic.description"
		 :rules="topic.rules"
		 :b-post="bPost">
		</topic-component>
	</div>
</div>
{% end %}

{% block script %}
<script type="text/javascript">
	var topicID = {{ topic_id }}
	var postID = {{ post_id }}
	var content = (function () {/*
	{% raw content %}
    */}).toString().split('\n').slice(1,-1).join('\n')
	$('#post-content').html(marked(content))

	new Vue({
		el: '#post-info',
		data: {},
		methods: {
			upVote: function() {

			},
			downVote: function() {

			}
		}
	})

	///////////////////////////////////////////////////////////////////////////
	var topicInfo = new Vue({
		el: '#topic-info',
		data: {
			bPost: true,
			topic: {'name': '', 'administer': '', 'avatar': '', 'description': '', 'rules': ''},
		},
	})
	getJSON('/api/topics/' + topicID, undefined, function(response) {
		if (response.status === 1) {
			topicInfo.topic = response	
		} else {
			console.log('GET TOPIC ' + topicID + ' ERROR: ' + response.code, " ", response.reason)
		}
	})

	///////////////////////////////////////////////////////////////////////////
	var comments = new Vue({
		el: '#comments',
		data: {
			tag: false,
			items: [],
			content: '',
			atUsers: [],
		},
		methods: {
			comment: function() {
				if (this.content === "") {
					vAlert.warning("内容不能为空")
					return
				}
				postJSON('/api/comments/post/' + postID, {'content': this.content}, this.handleResp)
			},
			handleResp: function(response) {
				if (response.status === 1) {
					this.items.push({
						'id': response.id,
						'author': response.author,
						'content': response.content,
						'date': response.date,
					})
					this.content = ""
					this.atUsers = []
				} else {
					console.log("COMMENT " + postID + " FAILED", response.code, " ", response.reason)
				}
			}
		}
	})
	getJSON('/api/comments/post/' + postID, {'page': 1, 'per_page': 20}, function(response) {
		if (response.status === 1) {
			comments.items = response.comments
		} else {
			console.log('GET COMMENTS OF POST ' + postID + ' ERROR: ' + response.code, " ", response.reason)
		}
	})

	///////////////////////////////////////////////////////////////////////////
	$(document).ready(function() {
		var input = $("#comment-area")
		$('.comment-reply').each(function() {
			var self = this
			console.log("xxxx",$(self))
			$(self).on("click", function() {
				console.log("CLICKED ")
				var username = $(this).attr("user")
				input.text(input.text() + " @" + username)
			})
		});
	})
	
</script>
{% end %}