{% extends "_base.html" %}

{% block head %}
{% end %}

{% block content %}
<div class="row" id="topics">
	<ul class="list-group col-md-4 col-md-offset-2" id="leftTopics">
	    <topic-thumbnail-component
    	 v-for="topic in leftTopics"
    	 :id="topic.id"
    	 :name="topic.name"
    	 :avatar="topic.avatar"
    	 :description="topic.description">
    	</topic-thumbnail-component>
	</ul>
	<ul class="list-group col-md-4" id="rightTopics">
		<topic-thumbnail-component
    	 v-for="topic in rightTopics"
    	 :id="topic.id"
    	 :name="topic.name"
    	 :avatar="topic.avatar"
    	 :description="topic.description">
    	</topic-thumbnail-component>
	</ul>
</div>
{% end %}

{% block script %}
<script type="text/javascript">
	var topics = new Vue({
		el: '#topics',
		data: {
			leftTopics: [],
			rightTopics: []
		},
	})

	getJSON('/api/topics', {}, function(response) {
		if (response.status === 1) {
			if (response.total === 0) {
				return
			}
			topics.rightTopics = response.topics.slice(response.total/2)
			topics.leftTopics = response.topics.slice(0, response.total/2)
		} else {
			console.log("GET ALL TOPICS ERROR: ", response.code.toString() + response.reason)
		}
	})
</script>
{% end %}