{% extends "_base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static_url("css/user.css") }}"/>
<style type="text/css">
	#activity {
		color: #555;
		font-size: 14px;
	}
</style>
{% end %}

{% block content %}
<div class="row" id="user-profile">
	<div id="user" class="col-md-5 col-md-offset-2">
		<div id="info">
			<div class="info-header">
				<div class="left">
					<span class="username">${ username }</span>&ensp;•&ensp;<span class="intro">${ introduce }</span>
				</div>
				<div class="right">
					<button class="btn btn-default btn-xs">关注</button>
					<button class="btn btn-default btn-xs">拉黑</button>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="detail">
				<img src="${ avatar }" class="thumbnail" alt="{{ title }}" width="80" height="80">
				<div class="other">
					<div class="gold"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>&ensp;${ gold } 金币</div>
					<div class="location"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&ensp;${ location }</div>
					<div class="date"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&ensp;加入于 ${ joinDate }</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div id="links">
				<a class="label label-default" href="${ blog }" target="_blank">Blog</a>
				<a class="label label-default label-hover" href="${ github }" target="_blank">GitHub</a>
				<a class="label label-default" href="${ google }" target="_blank">Google+</a>
				<a class="label label-default" href="${ weibo }" target="_blank">weibo</a>
				<a class="label label-default" href="${ twitter }" target="_blank">Twitter</a>
			</div>
		</div>
		<div id="activity">
			<tabs>
				<tab header="WIKI">
				    {!! wiki | toHTML !!}
				</tab>
			    <tab header="帖子">
				    <post-component  v-if="posts" :tag="tag" v-for="post in posts"
					 :post-id="post.id"
					 :post-title="post.title"
					 :post-date="post.created_date"
					 :topic-id="post.topic_id"
					 :topic-name="post.topic_name"
					 :author-avatar="post.author_avatar"
					 :author-name="post.author_name"
					 :last-comment-name="post.last_comment_user"
					 :last-comment-date="post.last_comment_date"
					 :comment-count="post.comment_count">
					</post-component>
					<span v-else>你还没有发布过任何帖子</span>
			    </tab>
			    <tab header="评论">
			    	<comment-component v-if="comments"
					 v-for="(index, comment) in comments"
					 :comment-index="index + 1"
					 :comment-id="comment.id"
					 :comment-avatar="comment.avatar"
					 :comment-user="comment.author"
					 :comment-date="comment.date"
					 :comment-content="comment.content">
					</comment-component>
					<span v-else>你还没有发表过任何评论</span>
			    </tab>
			    <tab header="主题" {% if current_user != title %}disabled{% end %}>
			    	<topic-thumbnail-component v-if="topics"
			    	 v-for="topic in topics"
			    	 :id="topic.id"
			    	 :name="topic.name"
			    	 :avatar="topic.avatar"
			    	 :description="topic.description">
			    	</topic-thumbnail-component>
				    <span v-else>你还没有关注任何主题</span>
				</tab>
			    <tab header="关注" {% if current_user != title %}disabled{% end %}>
			    	你还没有关注任何人
			    </tab>
			    <tab header="拉黑" {% if current_user != title %}disabled{% end %}>
			    	你还没有拉黑任何人
			    </tab>
			</tabs>
		</div>
	</div>
	<div id="progress" class="col-md-3" style="background-color: #fff;padding-left: 50px; padding-right: 10px;">
		<span class="raquo"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span> 订阅的主题数： ${ myTopicsCount }
		<div class="progress">
		  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100" style="width: 34%">
		    34%
		  </div>
		</div>
		<span class="raquo"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span> 发布的帖子数：  ${ myPostsCount }
		<div class="progress">
		  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
		    30%
		  </div>
		</div>
		<span class="raquo"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span> 写下的评论数： ${ myCommentsCount }
		<div class="progress">
		  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%">
		    68%
		  </div>
		</div>
		<div {% if current_user != title %}style="display:none;"{% end %}>
			<span class="raquo"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span> 关注的人数： ${ myFollowingCount }
			<div class="progress">
			  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
			    20%
			  </div>
			</div>
		</div>
		<div {% if current_user != title %}style="display:none;"{% end %}>
			<span class="raquo"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span> 拉黑的人数： ${ myBlockedCount }
			<div class="progress">
			  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100" style="width: 6%">
			    6%
			  </div>
			</div>
		</div>
	</div>
</div>
{% end %}

{% block script %}
<script type="text/javascript">
	var myName = "{{ current_user }}"
	var otherName = "{{ title }}"

	var profileURL = "/api/users/" + otherName
	var postsURL = "/api/posts/user/" + otherName
	var commentsURL = "/api/comments/user/" + otherName
	var subscribedURL = ""
	var followingURL = ""
	var blockedURL = ""
	if (myName === otherName) {
		profileURL = "/api/user"
		subscribedURL = "/api/subscribed/topics"
		followingURL = "/api/user/following"
		blockedURL = "/api/user/blocked"
	}

	var userProfile = new Vue({
		el: '#user-profile',
		data: {
			id: 0,
			username: '',
			avatar: '',
			introduce: '',
			gold: '',
			location: '',
			joinDate: '',
			wiki: '',
			blog: '',
			github: '',
			google: '',
			weibo: '',
			twitter: '',
			////////////////
			tag: true,
			posts: [],
			comments: [],
			topics: [],
			followings: [],
			blockeds: [],
			myPostsCount: 0,
			postsCount: 0,
			myTopicsCount: 0,
			topcisCount: 0,
			myCommentsCount: 0,
			commentsCount: 0,
			myFollowingCount: 0,
			followingCount: 0,
			myBlockedCount: 0,
			blockedCount: 0,
		},
	    components: {
	        tabs: VueStrap.tabset,
	        tab: VueStrap.tab
	    }
	})

	getJSON(profileURL, {'token': getCookieByName('token')}, function(response) {
		if (response.status === 1) {
			userProfile.id = response
			userProfile.username = response.username
			userProfile.avatar = response.avatar
			userProfile.introduce = response.introduce
			userProfile.gold = response.gold
			userProfile.location = response.location
			userProfile.joinDate = response.join_date
			userProfile.wiki = (response.wiki ? response.wiki : "### 这家伙很懒，啥都不愿意写，简直无可救药！")
			userProfile.blog = (response.blog ? response.blog : window.location.href)
			userProfile.github = (response.github ? response.blog : window.location.href)
			userProfile.google = (response.google ? response.blog : window.location.href)
			userProfile.weibo = (response.weibo ? response.blog : window.location.href)
			userProfile.twitter = (response.twitter ? response.blog : window.location.href)
		} else {
			console.log("GET FROM", profileURL, "ERROR:", response.code, response.reason)
		}
	})

	getJSON(postsURL, {'page': 1, 'pages': 20}, function(response) {
		if (response.status === 1) {
			userProfile.posts = response.posts
			userProfile.myPostsCount = response.total
		} else {
			console.log("GET FROM", postsURL, "ERROR:", response.code, response.reason)	
		}
	})

	getJSON(commentsURL, {'page': 1, 'pages': 20}, function(response) {
		if (response.status === 1) {
			userProfile.comments = response.comments
			userProfile.myCommentsCount =response.total
		} else {
			console.log("GET FROM", commentsURL, "ERROR:", response.code, response.reason)	
		}
	})

	if (subscribedURL) {
		getJSON(subscribedURL, {'token': getCookieByName('token')}, function(response) {
			if (response.status === 1) {
				userProfile.topics = response.topics
				userProfile.myTopicsCount = response.total
			} else {
				console.log("GET FROM", subscribedURL, "ERROR:", response.code, response.reason)	
			}
		})

		getJSON(followingURL, {'token': getCookieByName('token')}, function(response) {
			if (response.status === 1) {
				userProfile.followings = response.followings
				userProfile.myFollowingCount = response.total
			} else {
				console.log("GET FROM", followingURL, "ERROR:", response.code, response.reason)	
			}
		})

		getJSON(blockedURL, {'token': getCookieByName('token')}, function(response) {
			if (response.status === 1) {
				userProfile.blockeds = response.blockeds
				userProfile.myBlockedCount = response.total
			} else {
				console.log("GET FROM", blockedURL, "ERROR:", response.code, response.reason)
			}
		})
	}
	
</script>
{% end %}